line, polyline, path{
  fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10.00;
}
.svg-text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	cursor: default;
}

.active-gage {
  stroke:purple;
  fill:purple;
  fill-opacity:0.6;
}

.inactive-gage {
  stroke:grey;
  fill:grey;
  fill-opacity:0.6;
}
.county-polygon, .island-polygon {
  fill: #efefef;
  stroke: #c6c6c6;
  stroke-width:0.5;
}

#storm-track{
  stroke-width:2;
  stroke:red;
}

.state-polygon {
  fill: #9a9a9a;
  stroke: #5f5f5f;
  stroke-width:0.5;
}

.ocean-water {
  fill: #e3eaef;
  stroke: none;
}

.tooltip-box{
  stroke-width: 0.5;
  stroke: grey;
  opacity: 0.9;
  fill: #E8E8E8;
}

.smallprint-text {
  font-size: 0.8em;
}

.hidden {
  opacity: 0;
}
.shown {
  opacity: 1;
}