*{padding:0; margin:0;}

/*IE SVG Width Fix*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    #hurricane-map-landscape, #hurricane-map-portrait{
      width:100%;
      height:608px;
    }
}

body {
    font-family: "Source Sans Pro", sans-serif;
}

a{
  color:rgb(0,51,102);
  font-weight:600;
  word-wrap: break-word;
  text-decoration:none;
}

#viz-text,
#map-figure,
#dataSources{
  padding:10px;
  font-size:.9em;
  font-family: "Source Sans Pro", sans-serif;
}

figurecaption{
  line-height:1.5em;
  font-size:1.1em;
}

#dataSources h2{
  font-weight:400;
  margin-bottom:10px;
}

#dataSources p{
  margin-bottom:10px;
  font-size:1.1em;
}

#dataSources a:hover{
  text-decoration:underline;
}

#playButton{
  display:none;
  background:rgb(0,51,102);
  background:rgba(0,51,102,.4);
  position: absolute;
  margin: auto;
  text-align: center;
  left:0; right:0;
  top:0; bottom:0;
  height:75px;
  width:75px;
  border-radius:45px;
  border:none;
  outline:none;
  font-size:24px;
  font-weight:bold;
}

#playButton img{
  width:35px;
  margin:7px auto 0 6px;
}

#map-figure figure {
  text-align: center;
}
#map-figure figure img {
  -webkit-animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@keyframes rotation { 
  from {transform:rotate(0deg);} 
  to {transform:rotate(360deg);} 
}


#figureButtonCenter{
  position: relative;
}

@media screen and (min-width:768px){
  #viz-text,
  #map-figure,
  #dataSources{
    width:760px;
    margin:10px auto 10px auto;
    font-size:1em;
  }
}

@media screen and (min-width:1200px){
  #viz-text,
  #map-figure,
  #dataSources{
    width:960px;
  }
}

.footerThumnail {
  width: 150px;
}