<div id="{{id}}">

  <h2>{{title}}</h2>

  <p>{{line1}}<a href="{{waterDataLink}}" rel = "external" onclick="vizlab.clicklink('{{waterDataLink}}'); return false;">{{waterDataText}}</a>{{line2}}</p>
  
  <p>{{line4}}<a href="{{emcLink}}" rel = "external" onclick="vizlab.clicklink('{{emcLink}}'); return false;">{{emcText}}</a>{{line5}} <a href="{{pubsLink}}" rel = "external" onclick="vizlab.clicklink('{{pubsLink}}'); return false;">{{pubsText}}</a>{{line6}}</p>
  
  <p>{{line7}}<a href="{{nhcLink}}" rel = "external" onclick="vizlab.clicklink('{{nhcLink}}'); return false;">{{nhcText}}</a>{{line8}}</p>
</div>