<div id="{{id}}" caption="Precipitation from Hurricane Irma">
  <div id="figureButtonCenter">
    <figure>
      {{{figure}}}
    </figure>
    <button id="playButton" onclick="playPause();">
      {{{playIcon}}}
    </button>
  </div>

  <figureCaption>
    {{line1}}
    <a href="{{stnLink}}" rel = "external" onclick="vizlab.clicklink('{{stnLink}}'); return false;">{{stnText}}</a>
    {{line2}}
  </figureCaption>
</div>
