<div class="socialHolder">
  <div class="socialMediaOption" id="github">
    <div class="socialMediaImage">
      <a href={{{githubLink}}} target="_blank" >
        {{{githubLogo}}}
      </a>
    </div>
  </div>
  <div class="socialMediaOption" id="twitter">
    <div class="socialMediaImage">
      <a href={{{twitterLink}}} target="_blank">
        {{{twitterLogo}}}
      </a>
    </div>
  </div>
  <div class="socialMediaOption" id="facebook">
    <div class="socialMediaImage">
      <a href={{{facebookLink}}} target="_blank" >
        {{{facebookLogo}}}
      </a>
    </div>
  </div>
  
  <div class="socialMediaOption" id="embed">
    <div class="socialMediaImage">
      <a href={{{embedLink}}} target="_blank" >
        {{{embedIcon}}}
      </a>
    </div>
  </div>
</div>