<div class="socialHolder">
  <div class="socialMediaOption" id="github">
    <div class="socialMediaImage">
      {{{githubLogo}}}
    </div>
  </div>
  <div class="socialMediaOption" id="twitter">
    <div class="socialMediaImage">
      {{{twitterLogo}}}
    </div>
  </div>
  <div class="socialMediaOption" id="facebook">
    <div class="socialMediaImage">
      {{{facebookLogo}}}
    </div>
  </div>
  <!--<a href="#embedSection">
    <div class="socialMediaOption" id="embed">
      <div class="socialMediaImage">
        {{{embedIcon}}}
      </div>
    </div>
  </a>-->
</div>