<div id="{{id}}" caption="Description of Hurricane Irma visualization">
  <figureCaption>
    {{line1}}
    <a href="{{mapperLink}}" rel = "external" onclick="vizlab.clicklink('{{mapperLink}}'); return false;">{{mapperText}}</a>
    {{line2}}
    <a href="{{stnLink}}" rel = "external" onclick="vizlab.clicklink('{{stnLink}}'); return false;">{{stnText}}</a>
    {{line3}}
    <a href="{{irmaLink}}" rel = "external" onclick="vizlab.clicklink('{{irmaLink}}'); return false;">{{irmaText}}</a>
    {{line4}}
    <a href="{{nhcLink}}" rel = "external" onclick="vizlab.clicklink('{{nhcLink}}'); return false;">{{nhcText}}</a>
    {{line5}}
  </figureCaption>
</div>
